<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update/{id}(id=${user.getId})}" th:object="${user}" th:method="PATCH">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <br/>
    <label for="userName">First Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="userName">
    <br/>
    <br/>
    <label for="userLastName">Last Name</label>
    <input type="text" th:field="*{userLastName}" id="userLastName" placeholder="userLastName">
    <br/>
    <br/>
    <label for="userAge">user Age</label>
    <input type="number" th:field="*{userAge}" id="userAge" placeholder="userAge">
    <br/>
    <br/>
    <label for="userEmail">user Email</label>
    <input type="text" th:field="*{userEmail}" id="userEmail" placeholder="userEmail">
    <br/>
    <br/>
    <label for="userPassword">Password</label>
    <input type="text" th:field="*{userPassword}" id="userPassword" placeholder="userPassword">
    <br/>
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${roleList}"
                   th:text="${role.roleName}"
                   th:value="${role.roleName}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>
    <br/>

        <input type="submit"  value="Update User" >


</form>
</tr>
</body>
</html>