<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin panel</title>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3" href="#">
        <b th:utext="${currentUser.getUserEmail()}"></b>
        <lable>with roles:</lable>
        <lable th:text="${currentUser.getRolesString()}"></lable>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <form class="form-signin " th:method="POST" th:action="@{/logout}">
                <button class="nav-link px-3 bg-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active bg-primary text-white" href="#">
                            <span data-feather="home"></span>
                            Admin <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">
                            <span data-feather="file"></span>
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


<div class="col-9">
        <h2>Admin panel</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-629201">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#panel-905151" data-toggle="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab2" data-toggle="tab">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-905151" id="mainTableWithUsers">
                            <p>
                            <h4>All users</h4>
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                            </p>
                        </div>


                        <!-- Edit Modal -->
                        <form th:action="@{/admin/{id}(id=${user.getId})}" th:method="PUT" >
                            <div class="modal fade" th:id="${'edituser'+user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                <label for="id"><b>ID</b></label>
                                                <input type="text" th:value="${user.id}"
                                                       class="form-control" id="id"
                                                       name="id" readonly/>
                                            </div>
                                            <div class="mb-3 text-center orm-group m-auto col-md-6" >
                                                <label for="First name"><b>First name</b></label>
                                                <input type="text" th:value="${user.userName}"
                                                       class="form-control" id="First name"
                                                       name="userName"/>
                                            </div>

                                            <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                <label for="Last name"><b>Last name</b></label>
                                                <input type="text" th:value="${user.userLastName}"
                                                       class="form-control" id="Last name"
                                                       name="userLastName"/>
                                            </div>

                                            <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                <label for="Age"><b>Age</b></label>
                                                <input type="number" th:value="${user.userAge}"
                                                       class="form-control" id="Age"
                                                       name="userAge" />
                                            </div>

                                            <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                <label for="Email"><b>Email</b></label>
                                                <input type="text" th:value="${user.userEmail}"
                                                       class="form-control" id="Email"
                                                       name="userEmail"/>
                                            </div>

                                            <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                <label for="Password"><b>Password</b></label>
                                                <input type="text"
                                                       class="form-control" id="Password"
                                                       name="userPassword"/>
                                            </div>

                                            <div class="mb-3 text-center form-group m-auto col-md-6">
                                                <label for="EditRoles" class="pt-md-2"><b>Role</b></label>
                                                <select  class="custom-select form-control" multiple size="2"
                                                         id="EditRoles" name="userRoles" required>
                                                    <option th:each="role:${roles}"
                                                            th:value="${role.getRoleName()}"
                                                            th:text="${role.getRoleName()}"
                                                            th:selected="${user.getRoles().contains(role)}"></option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                    name="id" th:value="${user.getId()}">Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--Modal Delete-->

                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteuser'+user.id}">
                                Delete
                            </button>

                        </td>

                        <!-- Delete Modal -->
                        <div class="row justify-content-center align-items-center">
                            <form th:action="@{/admin/{id}(id=${user.getId})}" th:method="DELETE">
                                <div class="modal fade" th:id="${'deleteuser'+user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabelDel">
                                                    Delete user
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <div>
                                                        <label for="id"><b>ID</b></label>
                                                        <input type="text" th:value="${user.id}"
                                                               class="form-control" id="idD"
                                                               name="id" readonly>
                                                    </div>
                                                </div>
                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <div>
                                                        <label for="First name"><b>First name</b></label>
                                                        <input type="text" th:value="${user.userName}"
                                                               class="form-control" id="First nameD"
                                                               name="First name" readonly>
                                                    </div>
                                                </div>

                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <div>
                                                        <label for="Last name"><b>Last name</b></label>
                                                        <input type="text" th:value="${user.userLastName}"
                                                               class="form-control" id="Last nameD"
                                                               name="Last name" readonly>
                                                    </div>
                                                </div>

                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <div>
                                                        <label for="Age"><b>Age</b></label>
                                                        <input type="text" th:value="${user.userAge}"
                                                               class="form-control" id="AgeD"
                                                               name="Age" readonly>
                                                    </div>
                                                </div>

                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <div>
                                                        <label for="Email"><b>Email</b></label>
                                                        <input type="text" th:value="${user.userEmail}"
                                                               class="form-control" id="EmailD"
                                                               name="Email" readonly>
                                                    </div>
                                                </div>
                                                <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                    <label for="DeleteRoles"><b>Role</b></label>
                                                    <select multiple class="form-control" id="DeleteRoles" name="roles1">
                                                        <option th:each="role:${user.getRoles()}"
                                                                th:value="${role.getRoleName()}"
                                                                th:text="${role.getRoleName()}"
                                                                th:selected="${user.getRoles().contains(role)}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>

                                                <button type="submit" class="btn btn-danger" name="id">
                                                    Delete
                                                </button>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>

                        </tr>



                        <div class="tab-pane" id="tab2">

                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Add new user</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <div class="row justify-content-center align-items-center">
                            <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                    <div class="mb-3 text-center">
                                        <label for="FirstName" >First Name</label>
                                        <input type="text" th:field="*{userName}" class="form-control" id="FirstName" placeholder="First Name" required>
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="Last Name">Last Name</label>
                                        <input type="text" th:field="*{userLastName}" class="form-control" id="LastName" placeholder="Last Name" required>
                                    </div>

                                <div class="mb-3 text-center">
                                    <label for="Age">Age</label>
                                    <input type="text" th:field="*{userAge}" class="form-control" id="AgeNew" placeholder="Age" required>
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" th:field="*{userEmail}" class="form-control"
                                           id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>

                                </div>
                                <div class="mb-3 text-center">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" th:field="*{userPassword}" class="form-control"
                                           id="exampleInputPassword1" placeholder="Password" required>
                                </div>
                                <div class="mb-3 text-center">
                                <label for="RoleN">Role</label>

                                <select class="custom-select" multiple size="2" id="RoleN" name="newRoles" required>
                                    <option th:value="ROLE_ADMIN">ROLE_ADMIN</option>
                                    <option th:value="ROLE_USER">ROLE_USER</option>
                                </select>
                                </div>
                                <button type="submit" class="btn btn-success mt-3 d-block mx-auto" name="add" >Add new user</button>

                            </form>
                                    </div>
                                </tr>

                                </tbody>


                    </div>

                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/app.js"></script>

</body>
</html>

