<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="userName">Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="Name">
    <br/>
    <br/>
    <label for="userLastName">Last Name</label>
    <input type="text" th:field="*{userLastName}" id="userLastName" placeholder="lastname">
    <br/>
    <br/>
    <label for="userAge">userAge</label>
    <input type="number" th:field="*{userAge}" id="userAge" placeholder="userAge">
    <br/>
    <br/>
    <label for="userEmail">userEmail</label>
    <input type="text" th:field="*{userEmail}" id="userEmail" placeholder="userEmail">
    <br/>
    <br/>
    <label for="userPassword">userPassword</label>
    <input type="text" th:field="*{userPassword}" id="userPassword" placeholder="userPassword">
    <br/>
    <br/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${roleList}"
                   th:text="${role.roleName}"
                   th:value="${role.roleName}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>

    <input type="submit" value="Create User">
</form>
</body>
</html>

